/* =====================ALL=====================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 3px solid #49E45B;
  background-color: #49E45B;
  font-weight: 700;
  color: white;
  transition: all 300ms ease;
}

button:hover{
  background-color:#49e45b12;
  color: #49E45B;
  filter:brightness(1.1);
}

figure{
  margin-bottom: -4px;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

section {
  background-color: #f5f5f5;
  transition: all 300ms ease;
}

.container {
  padding: 20px 0;
  width: 100%;
}

.color {
  color: #49E45B;
}

.paragraph{
  display: flex;
  height: 100%;
  padding: 24px;
  background-color:#49e45b95;
  font-size: 24px;
  line-height: 1.2;
  max-width: 600px;
  margin-bottom: 30px;
  text-align: justify;
}

.sectionSubtitle {
  text-align: center;
  font-size: 24px;
  margin-top: 24px;
}

.sectionTitle {
  text-align: center;
  font-size: 48px;
  margin-bottom: 0px;
  padding-top: 100px;
}

#landingPage {
  height: 100vh;
  background-image: linear-gradient(to right, #ffffff35, #ffffff00), url("assets/headerImg.png");
}



/*=====================NAV=====================*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width:220vh;
  margin: 0 auto;
  padding: 0 100px;
  height: 80px;
  background-color: #ffffff;
  position:fixed;
  z-index:1;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.181);
}

#personalLogo {
  width: 100px;
  height: 100px;
  filter: invert(1);
}

.navList {
  display: flex;
  align-items: baseline;
}

.navLink {
  margin: 0 12px;
}

.navLinkText {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}

.fa-adjust {
  font-size: 20px;
}

.navLinkButton {
  padding: 8px 18px;
  font-size: 16px;
  color: #242424;
}

.secondNavLinkButton{
  background-color: #ffffff00;
  padding: 8px 18px;
  font-size: 16px;
  color: #242424;
}

.secondNavLinkButton:hover{
  color: white;
  background-color:#49E45B;
}

/*=====================Header=====================*/

header {
  max-width: 1200px;
  display: flex;
  align-items: center;
  height: 110vh;
  margin: 0 auto;
}

.headerMainTitle{
  font-size: 80px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
  margin-bottom: 30px;
}

.headerLinkButton{
  padding: 16px 32px;
  font-size: 24px;
  background-color: #49e45b95;
}

/*=====================Shop=====================*/

#shop {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:#EDE5E2;
  height: 100vh;
}

.shopTitle {
  text-align: center;
  font-size: 48px;
  margin-bottom: 0px;
}

.shopLayout {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content:center;
}

.shopItemHolder {
  display: block;
  position: relative;
  width: 20%;
  margin: 3%;
}

.shopSubTitle {
  margin-left: 12px;
  margin-bottom: 32px;
}

.shopItem {
  height: 100%;
  overflow-y: hidden;
  margin: 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  transition: all 300ms ease;
  padding: 0 0 0 0;
}

.shopImg {
  max-width: 100%;
}

.shopButton{
  width: 100%;
  padding: 12px 12px;
  border-radius: 0;
  border-width: 0;
  font-size: 14px;
  text-align: left;
  transition: all 300ms ease;
}

.shopDescription{
  line-height: 1.2;
  margin: 8px 8px 16px 8px;
  transition: all 300ms ease;
}

.shopItem:hover {
  transform: scale(1.10);
}

.shopButton:hover {
  color: #49E45B;
  background-color:#49e45b28;
}

/*=====================About=====================*/

#about {
  height: 110vh;
  background-color:#EDE5E2;
  background-image: url("assets/aboutImg.png");
}

.aboutParagraph {
  margin-top: 5%;
  margin-left: 5%;
}

/*=====================Gallery=====================*/

#gallery {
  padding-bottom: 40px;
  background-color: #EDE5E2;
}

.galleryLayout {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content:center;
  margin-top: 20px;
}

.galleryItem {
  display: block;
  position: relative;
  align-self: auto;
  width: 29%;
  max-height: 70vh;
  margin: 10px 10px;
  overflow-y: hidden;
}

.galleryImg {
  max-width: 100%;
}

/*=====================Footer=====================*/

footer {
  position: relative;
  background-color: #131313;
  display: flex;
  padding: 0 0;
}

.footerRow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLogoImg {
  width: 140px;
}

.footerSocialList {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 28px 0;
}

.footerSocialLink,
.footerCopyright {
  color: white;
}

.footerLogoPopper {
  position: absolute;
  top: 0px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
  color: white;
}

.footerAnchor {
  position: relative;
}

.footerAnchor:hover .footerLogoPopper {
  transform: translateX(20px);
  opacity: 1;
}

/*=====================Worlds=====================*/
#worlds{
  height: 110vh;
}
/*=====================Link Hover Effect - made by Yann Durandet=====================*/

.linkHoverEffect {
  position: relative;
}

.linkHoverEffect:after {
content: "";
position: absolute;
bottom: -3px;
height: 3px;
width: 0;
right: 0;
transition: all 300ms ease;
}

.linkHoverEffectWhite:after {
background-color: #fff;
}

.linkHoverEffectBlack:after {
background-color: #242424;
}

.linkHoverEffectColor:after{
background-color:#49E45B;
height: 4px;
}

.linkHoverEffectColorSmall:after{
background-color:#49E45B;
height: 2px;
}

.linkHoverEffect:hover:after {
left: 0;
width: 100%;
}

/*=====================Dark Theme=====================*/

.alwaysWhite{
  color: white;
}

.dark-theme #landingPage{
  background-image: linear-gradient(to right, #00000071, #0000001f), url("assets/headerImg.png");
}

.dark-theme .colorSwitch{
  color: white;
}
.dark-theme #shop,
.dark-theme #gallery {
  background-color: black;
}

.dark-theme #landingPage,
.dark-theme #about,
.dark-theme #worlds,
.dark-theme nav,
.dark-theme .shopItem {
  background-color: #242424;
}

.dark-theme #personalLogo {
  filter: none;
}

.dark-theme .navLink {
  color: black;
}

.dark-theme .shopButton:hover{
  box-shadow: none;
  background-color: #ffffff;
  color: #49E45B;
}

.dark-theme button:hover{
  border-color: white;
  background-color: rgba(255, 255, 255, 0.581);
  color: #49E45B;
}
.dark-theme .secondNavLinkButton:hover{
  color: #242424;
  background-color: #49E45B;
  border: 3px solid #49E45B
}

@media (max-width: 768px) {
  /*=====HEADER=====*/
  nav{
    padding-left: 8px;
    align-items: center;
  }
  header {
    height: 85vh;
  }
  .headerMainTitle{
    margin-left: 20px;
  }
  .headerLinkButton{
    display: none;
  }
  .paragraph{
    max-width: 100%;
  }
  /*=====SHOP=====*/
  #shop {
    height: 350vh;
  }
  .shopLayout{
    flex-direction: column;
  }
  .shopSubTitle{
    margin: 0 auto;
  }
  .shopItemHolder {
    display: flex;
    flex-direction: column;
    position: center;
    width: 100%;
  }
  .shopItem{
    max-width: 70%;
    margin: 48px auto;
  }
  .shopDescription{
    font-size: 24px;
  }
  .shopButton{
    font-size: 28px;
  }
  .shopImg{
    width: 100%;
  }
  /*=====ABOUT=====*/
  #about {
    height: 95vh;
    background-color:#EDE5E2;
    background-image: url("assets/aboutResponsiveImg.png");
  }
  .aboutParagraph{
    max-width: 100%;
  }
  /*=====GALLERY=====*/
  .galleryLayout{
    display: flex;
    flex-direction: column;
  }
  .galleryItem{
    width: 100%;
    margin: 12px 0 0 0;
  }
}


@media (max-width: 480px) {
  .responsiveMilk{
    display: none;
  }
  #shop {
    height: 300vh;
  }
  .footerSocialList{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
  }
  .footerSocialLink{
    margin-bottom: 24px;
  }
}