/* =====================ALL=====================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border-style: solid;
  border-width: 3px;
  border-color: #49E45B;
  background-color: #49E45B;
  font-weight: 700;
  color: white;
  transition: all 300ms ease;
}

button:hover{
  filter:brightness(1.1);
}

figure{
  margin-bottom: -4px;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

section {
  background-color: #f5f5f5;
  transition: all 300ms ease;
}

.alwaysWhite{
  color: white;
}

.container {
  padding: 20px 0;
  width: 100%;
}

.sectionSubtitle {
  text-align: center;
  font-size: 24px;
  margin-top: 24px;
}

.sectionTitle {
  text-align: center;
  font-size: 48px;
  margin-bottom: 0px;
  padding-top: 40px;
}

#landingPage {
  height: 100vh;
  background-image: url("assets/headerImg.png");
}

.color {
  color: #49E45B;
}

/*=====================NAV=====================*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width:220vh;
  margin: 0 auto;
  padding: 0 100px;
  height: 80px;
  background-color: #f5f5f5;
  position:fixed;
}

#personalLogo {
  width: 100px;
  height: 100px;
  filter: invert(1);
}

.navList {
  display: flex;
  align-items: baseline;
}

.navLink {
  margin: 0 12px;
}

.navLinkText {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}

.navLinkColor {
  font-size: 16px;
  color: red;
  font-weight: 700;
}

.fa-adjust {
  font-size: 20px;
}

.navLinkButton {
  border-style:solid;
  border-color: #49E45B;
  background-color: #49E45B;
  padding: 8px 18px;
  font-size: 16px;
  color: #242424;
  font-weight: 700;
  transition: all 300ms ease;
}

.navLinkButton:hover{
  color: #49E45B;
  background-color:#ffffff00;
}

.secondNavLinkButton{
  border-style:solid;
  border-color: #49E45B;
  background-color: rgba(255, 255, 255, 0);
  padding: 8px 18px;
  font-size: 16px;
  color: #242424;
  font-weight: 700;
  transition: all 300ms ease;
}

.secondNavLinkButton:hover{
  color: white;
  background-color:#49E45B;
}
/*=====================Header=====================*/

header {
  max-width: 1200px;
  display: flex;
  align-items: center;
  height: 110vh;
  margin: 0 auto;
}

.headerContainer{
  display: flex;
}

.headerHalfContainer {
  margin-top: -10vh;
  width: 100%;
  height:75vh;
}

.headerMainTitle{
  font-size: 80px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
  margin-bottom: 30px;
}

.headerGradient {
  display: flex;
  flex-direction: column;
  height: 40vh;
  border-radius: 20px;
  padding: 24px;
  background-image: linear-gradient(to bottom, #49E45B, #49e45b00);
  box-shadow: 0 20px 40px 0 #49e45b2e;
  overflow-y: hidden ;
}
.headerParagraph {
font-size: 20px;
line-height: 1.2;
max-width: 450px;
margin-bottom: 30px;
}

.headerLinkButton{
  padding: 16px 32px;
  font-size: 24px;
}

.headerRightContainer{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.headerEBookTitle{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.headerImgHolder {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  overflow-y: hidden;
}

.headerImgItem {
  margin-bottom: 8px;
}

.headerImg {
  max-width: 70%;
}

.headerEBookButton{
  padding: 8px 18px;
  font-size: 16px;
}

.headerLinkButton:hover{
  color: #49E45B;
  background-color:#ffffff;
}

/*=====================Shop=====================*/

#shop {
  padding-bottom: 40px;
  background-color:#ffffff;
  height: 100vh;
}

.shopTitle {
  text-align: center;
  font-size: 48px;
  margin-bottom: 0px;
}

.shopLayout {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content:center;
}

.shopItemHolder {
  display: block;
  position: relative;
  width: 20%;
  margin: 3%;
}

.shopSubTitle {
  margin-left: 24px;
  margin-bottom: 32px;
}

.shopItem {
  max-height: 80vh;
  height: 100%;
  overflow-y: hidden;
  margin: 10px 10px;
  background-color: #ffffff;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  transition: all 300ms ease;
  padding: 0 0 0 0;
}

.shopImg {
  max-width: 100%;
}

.shopButton{
  width: 100%;
  padding: 12px 12px;
  border-radius: 0;
  border-width: 0;
  font-size: 16px;
  text-align: left;
  transition: all 300ms ease;
}

.shopDescription{
  line-height: 1.2;
  margin: 8px 8px 16px 8px;
  transition: all 300ms ease;
}

.shopItem:hover {
  transform: scale(1.10);
}

.shopButton:hover {
  color: #49E45B;
  background-color:#ffffff00;
  border-bottom: 3px solid #49E45B;
  transition: 1s;
  left: 0;
}



/*=====================About=====================*/

#about {
  height: 110vh;
  background-image: url("assets/aboutImg.png");
}

.aboutParagraphContainer {
  display: flex;
  height: 90vh;
  margin-left: 10%;
  margin-top: 5%;
  max-width: 30%;
  border-radius: 20px;
  padding: 24px;
  background-image: linear-gradient(to bottom, #49E45B, #49e45b00);
  box-shadow: 0 20px 40px 0 #49e45b2e;
}

.aboutParagraph {
  font-size: 24px;
  text-align: justify;
}


/*=====================Gallery=====================*/

#gallery {
  padding-bottom: 40px;
  background-color: #EDE5E2;
}

.galleryLayout {
  display: flex;
  flex-wrap: wrap;
  align-items:flex-start;
  justify-content:center;
  margin-top: 20px;
}

.galleryItem {
  display: block;
  position: relative;
  align-self: auto;
  width: 29%;
  max-height: 70vh;
  margin: 10px 10px;
  overflow-y: hidden;
}

.galleryImg {
  max-width: 100%;
}

/*=====================Footer=====================*/

footer {
  position: relative;
  background-color: #131313;
  display: flex;
  padding: 0 0;
}

.footerRow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerLogoImg {
  width: 140px;
}

.footerSocialList {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin: 28px 0;
}

.footerSocialLink,
.footerCopyright {
  color: white;
}

.footerLogoPopper {
  position: absolute;
  top: 0px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
  color: white;
}

.footerAnchor {
  position: relative;
}

.footerAnchor:hover .footerLogoPopper {
  transform: translateX(20px);
  opacity: 1;
}

/*=====================Link Hover Effect - made by Yann Durandet=====================*/

.linkHoverEffect {
  position: relative;
}

.linkHoverEffect:after {
content: "";
position: absolute;
bottom: -3px;
height: 3px;
width: 0;
right: 0;
transition: all 300ms ease;
}

.linkHoverEffectWhite:after {
background-color: #fff;
}

.linkHoverEffectBlack:after {
background-color: #242424;
}

.linkHoverEffectColor:after{
background-color:#49E45B;
height: 4px;
}

.linkHoverEffectColorSmall:after{
background-color:#49E45B;
height: 2px;
}

.linkHoverEffect:hover:after {
left: 0;
width: 100%;
}

/*=====================Dark Theme=====================*/

.dark-theme .colorSwitch{
  color: white;
}
.dark-theme nav,
.dark-theme #shop,
.dark-theme #gallery {
  background-color: black;
}
.dark-theme nav{
  box-shadow: 0px 5px 25px #00000099;
}

.dark-theme #landingPage,
.dark-theme .shopItem {
  background-color: #242424;
}

.dark-theme #personalLogo {
  filter: none;
}

.dark-theme .navLink {
  color: black;
}

.dark-theme .shopButton:hover{
  box-shadow: none;
  background-color: #ffffff;
  color: #49E45B;
}

.dark-theme button:hover{
  border-color: white;
  background-color: white;
  color: #49E45B;
}
.dark-theme .secondNavLinkButton:hover{
  color: #242424;
  background-color: #49E45B;
}

/* teeeeeeeeeeeeeeeeeeeeeeeeeeeeeest */

.dark-theme .title,
.dark-theme .sectionTitle,
.dark-theme .sectionStitle,
.dark-theme .navLinktext,
.dark-theme .fa-adjust,
.dark-theme .headerParagraph,
.dark-theme .sectionSubtitle,
.dark-theme .aboutParagraph {
  color: white;
}
.dark-theme nav,
.dark-theme #about,
.dark-theme #projects{
  background-color: black;
}
.dark-theme section {
  background-color: #242424;
}

.dark-theme #personalLogo {
  filter: none;
}

.dark-theme .socialLink {
  color: black;
}